## DIA 1

# Temario:
- Tipos de datos
- Operaciones matematicas
- Operaciones con String
- Operaciones logicas
- Operaciones Booleanas

TIPOS DE DATOS

In [ ]:
# Existen los datos
enteros = 4 # Son numeros sin decimales
flotantes = 99.9 # Son numeros con decimales
type(flotantes)

In [3]:
# Caracteres / Strings
caracteres = "a"
cadena_caracteres = "todas las letras que tu quieras"
type(cadena_caracteres)

str

In [4]:
# Booleanos
falso = False # falso es 0
verdadero = True # verdadero es 1

bool

In [10]:
enteros = 4
flotantes = 99.9
# imprimir
print(enteros)
print(flotantes)
print(caracteres)
print(cadena_caracteres)
print(falso)
print(verdadero)

4
99.9
a
Hola mundo
False
True

tambien el usuario puede ingresar datos

In [ ]:
# Con la funcion input, el usuario puede ingresar cualquier tipos de datos
# y podemos guardarlo en alguna variable
name = input("Mi nombre es: ") # te lo guarda como string
print(name)

num = input("Ingresa un numero: ")
print(num + 1)

In [14]:
num = int(input("Ingresa un numero: "))
print(num + 1)

Ingresa un numero: 3
4

Operaciones Matematicas

In [17]:
# 4to Nivel de importancia
# Suma ordinaria
print("Suma ordinaria: ")
print(3 + 4) # 7
variable1,variable2 = 20,40 # 60
print(variable1 + variable2)

# Resta Ordinaria
print("Resta ordinaria: ")
print(2 - 5) # -1
# declaracion de variable
v1 = 10.4
v2 = 15
resultado = v2 - v1
print(resultado) # 4.6

Suma ordinaria:
7
60
Resta ordinaria:
-3
4.6

In [ ]:
# 3er nivel de importancia
# Multiplicacion ordinaria
print("Multiplicacion ordinaria: ")
M1, M2 = 2,3.14
print(M1 * M2) # 6.28

# Division ordinaria
print("--------------------")
print("Division ordinaria: ")
M1,M2,M3,M4,M5,M6 = 2,5,6,5,4,5
print(M1 / M2) # 0.4
print(M3 / M4) # 1.
print(M5 / M6) # 1.

# Division de piso
print("--------------------")
print("Division de piso: ")
print(M1 // M2) # 0
print(M3 // M4) # 1
print(M5 // M6) # 0

In [ ]:
# Potencias
print("Potencias: ")
print(2 ** 3) # 8
P1,P2 = 7,2
print(P1 ** P2) # 49

In [18]:
# Area de un circulo
pi = 3.14
r = 4
A = pi * (r ** 2)
print(A)

50.24

Operacion String

In [19]:
HM = "Hola Mundo"
print(HM)
a,b = "ta","co"
print(a + b)

Hola Mundo
taco

In [20]:
# Animal, debe tener un nombre, le debe de gustar una fruta, debe tener una profesion
animal = "Perro"
nombre = "Toby"
fruta = "uvas"
profesion = "Ingeniero"
print(f"Hola soy {nombre} y soy un {animal}, me gusta las {fruta} y soy {profesion}")

Hola soy Toby y soy un Perro, me gusta las uvas y soy Ingeniero

Operaciones logicas

In [ ]:
# Empezamos con los operadores logicos <, >, <=, >=, and, or (siempre retorna un booleano)

In [23]:
b1 = 4 > 5
b2 = 7 > 3
b3 = 14 > 14
b4 = 14 >= 14
b4

True

In [24]:
# Quieres un sandwich con todo
pan = True
queso = True
mayonesa = True
jamon = False
print(pan and queso and mayonesa and jamon)

False

In [25]:
print(True * 20)
print(False * 10)

20
0