DIA 3

Temario
- Listas
- Tuples
- Sets
- Diccionarios

ESTRUCTURAS DE DATOS

Las estructuras de datos son formas de organizar informacion para trabajar con ellas de manera eficiente

- Listas -> ordenadas, modificadas permiten deplicados
- Tuplas -> ordenadas, inmutables, permiten duplicados
- Sets -> no son ordenados, no se permiten duplicados
- Diccionarios -> pares clave:valor

Nota:
Existen otras
- Pilas (Filo -> First in, Last out)
- Colas (Fifo -> First in, first out)
- Listas enlazadas (o doblemente enlazadas)

LISTAS
Las listas son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos

In [ ]:
lista_de_compras = ["manzanas","pan","leche","huevos","mantequilla","queso","jamon"]
print(lista_de_compras)

In [ ]:
# Lista de compras
print("Lista de compras")
lista_de_compras = ["manzanas","pan","leche","huevos","mantequilla","queso","jamon"]
print(lista_de_compras)

print("---------------")

# Seleccionar un elemento de la lista
print("Seleccionar un elemento de la lista")
print(lista_de_compras[0])

print("---------------")

# Agregar un elemento a la lista .append()
lista_de_compras.append("sopa")
print(lista_de_compras)

print("---------------")

# Agregar algo a la lista, pero en un lugar en especifico de la lista
print("Agregar algo a la lista, pero en un lugar en especifico de la lista")
lista_de_compras.insert(1,"platano")
print(lista_de_compras)

print("---------------")

# Existen otros dos metodos
# Para eliminar un elemento de la lista existe el remove y el pop
print("Para eliminar un elemento de la lista existe el remove y el pop")
lista_de_compras.remove("platano")
print(lista_de_compras)

print("---------------")

lista_de_compras.pop() # Sin nada dentro del parentesis borra el ultimo elemento
print(lista_de_compras) # o puedes agarrarla la posicion que quieras (pero iniciendo desde cero)
# Nota: te retorna el numero eliminado

print("---------------")

# Podemos recorrer el arreglo por medio de un for
print("Podemos recorrer el arreglo por medio de un for")
for elementos in lista_de_compras:
    print(elementos)

print("---------------")

# Otro for pero con mas ordenado
# len () saca el tama√±o de la lista
print("Otro for pero con mas ordenado")
for i in range(len(lista_de_compras)):
    print(f"{i + 1} - {lista_de_compras[i]}")

Promedios

In [ ]:
promedios = [55.6,97.5,23.6,97.5,72.4,100]
print(promedios)
promedios.sort() # sort() sirve para ordenar la lista de manera ascendente
print(promedios)

# ordenar una lista de manera descendente
promedios.sort(reverse=True)
print(promedios)

print("-----------------")

# Podemos ingresar al ultimo elemento de la lista
print(promedios[-1])

# Encontrar el mayor y el menor de una lista
print("Encontrar el mayor y el menor de una lista")
print("mayor")
print(max(promedios))
print("menor")
print(min(promedios))

print("-----------------")

In [ ]:
# Declaracion de matrices
calificaciones = [[100,88,93],[99,56,72]]
i = 1
for cali_i in calificaciones:
  print(f"\nAlumno {i}")
  j = 1
  for cali_j in cali_i:
      print(f"Cali {j}: ",cali_j)
      j += 1
  j = 0
  i += 1

TUPLAS Colecciones ordenadas pero inmutables.

In [5]:
# Hagamos un donde guardemos fechas de nacimientos de un grupo de una tupla
fechas = ("10/10/05","22/03/02","17/04/04","25/02/04")
fechas

('10/10/05', '22/03/02', '17/04/04', '25/02/04')

In [7]:
# ES INMUTABLE
fechas.append("10/06/03") # TE VA A MARCAR ERROR

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
fecha_lista = list(fechas) # Aqui ya puedes usar los comandos basicos de una lista
fecha_lista

['10/10/05', '22/03/02', '17/04/04', '25/02/04']

SETS Los sets son colecciones SIN orden y que No permiten elementos duplicados

In [10]:
nombre = {"Angel","Eliud","Diana","Juan","Juan"}
print(nombre)
print(type(nombre))

{'Juan', 'Eliud', 'Angel', 'Diana'}
<class 'set'>

In [14]:
distintos_datos = {"Angel",1,"Eliud","Diana","Juan","Juan",4.8}
distintos_datos

{1, 4.8, 'Angel', 'Diana', 'Eliud', 'Juan'}

In [15]:
# ADD
nombre.add("Leonardo")
nombre

{'Angel', 'Diana', 'Eliud', 'Juan', 'Leonardo'}

In [18]:
# UNION
matutino = {20322,22183,123123,53234}
vespertino = {20322,111111,22222222,3333333}

# Union pero con .union
total_matriculas = matutino.union(vespertino)
print(total_matriculas)

# Union pero con |
total_matriculas = matutino | vespertino
print(total_matriculas)

{20322, 22183, 111111, 22222222, 53234, 123123, 3333333}
{20322, 22183, 111111, 22222222, 53234, 123123, 3333333}

In [20]:
# Interseccion
ca = {1234,121,646,12414,73434,124124,675234}
al = {1234,111,222,333,444}

# Interseccion con .intersection()
ca_al = ca.intersection(al)
print(ca_al)

# Interseccion usando &
ca_al = ca & al
print(ca_al)

{1234}
{1234}

In [22]:
# Diferencia

# Diferencia usando .diference()
solo_calculo = ca.difference(al)
print(solo_calculo)

# Diferencia usando -
solo_calculo = ca - al
print(solo_calculo)

{675234, 646, 121, 73434, 124124, 12414}
{675234, 646, 121, 73434, 124124, 12414}

In [26]:
nombre = {"Angel","Eliud","Diana","Juan","Juan"}

# Remove, pop
nombre.remove("Angel") # Debes eliminar el que tu quieras
print(nombre)
nombre.pop() # Eliminas un elemento de manera aleatoria
print(nombre)

{'Juan', 'Eliud', 'Diana'}
{'Eliud', 'Diana'}

In [27]:
# Eliminar todo el SET
nombre.clear()
nombre

set()

DICCIONARIOS Los diccionarios son colecciones no ordenadas de pares clave:valor

In [28]:
alumno = {
    # clave     valor
    "nombre": "Natalia Rodriguez",
    "edad": 19,
    "carrera": "Ingenieria Industrial Administrador",
    "semestre": 6,
    "promedio": 89,
    "calificaciones": [100,94,94,97,100]
}
print(type(alumno))
alumno

<class 'dict'>

{'nombre': 'Natalia Rodriguez',
 'edad': 19,
 'carrera': 'Ingenieria Industrial Administrador',
 'semestre': 6,
 'promedio': 89,
 'calificaciones': [100, 94, 94, 97, 100]}